
<div data-role="header">
	<h1 id="title">Chat</h1>
	<a href="" class="ui-btn-right refresh-page"><div class="header-btn-container">Refresh</div></a>
</div>
<div data-role="content"> 
	<h2>New Post</h2>
	<div class="challenge-post-buttons clearfix">
		<div class="btn-container btn-half btn-half-first">
			<a data-role="button" href="" class="public-post-open">Public Post</a>
			<span class="btn-icon-right icon-public"></span>
		</div>
		<div class="btn-container btn-half">
			<a data-role="button" href="#" class="team-post-open">Team Post</a>
			<span class="btn-icon-right icon-team"></span>
		</div>
	</div>
	<h2>Challenge Wall</h2>
	<ul data-role="listview">
		<% _.each(chatList, function(message) { 

		var authorText = message.AuthorUsername + ' said';
		var messageTypeIcon = 'message-type-message';
		var messageLockClass = 'public';
		switch(message.Type){
			case 1:
				authorText = 'Motivational Trigger';
				messageTypeIcon = 'message-type-motivational';
				messageLockClass = 'system';
				break;

			case 2:
				messageLockClass = 'private';
				break;

			case 4:
				authorText = 'Health Trigger';
				messageTypeIcon = 'message-type-health';
				messageLockClass = 'system';
				break;

			case 5:
				authorText = 'Geographical Trigger';
				messageTypeIcon = 'message-type-geographical';
				messageLockClass = 'system';
				break;
		}
		
		%>
		<li>
			<a href="#chat-<%= message.MessageId%>" >
				<h3 class="ui-li-heading"><%=authorText%>:</h3>
				<p class="ui-li-desc"><%= message.Comment %></p>
				<p class="chat-list-date ui-li-desc"><%- message.FormattedDate %><span class="chat-list-comment-count"><%- message.CommentCount %> comment(s)</span></p>
				
			</a>
		
		</li>
		<% }); %>
	</ul>
	
	<div data-role="popup" id="popup-public-post" class="ui-content">
		<textarea cols="40" rows="8" id="public-post" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" placeholder="Post a message"></textarea>
         <div class="btn-container btn-text-center">
		    <a data-role="button" class="post-public-post" href="#popup-comment">Post</a>
	    </div>
	</div>
	
	<div data-role="popup" id="popup-team-post" class="ui-content">
		<textarea cols="40" rows="8" id="team-post" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" placeholder="Post a message"></textarea>
         <div class="btn-container btn-text-center">
		    <a data-role="button" class="post-team-post" href="#popup-comment">Post</a>
	    </div>
	</div>
</div>
