<div data-role="header">
	<h1>My Challenge</h1>
    	<a href="#" class="ui-btn-right logout"><div class="header-btn-container">Logout</div></a>
</div>

<div data-role="content">
	<h2><%= challenge.name %></h2>
	<div class="team-stats clearfix">
		<div class="stat day-home">
			<h3>Day <%= challenge.day %> of <%= challenge.durationDays %></h3>
			<p><%= challenge.todaysDate %></p>
		</div>
		<div class="stat rank-home">
			<h3><%= challenge.position %></h3>
			<p>Team Position</p>
		</div>
	</div>
	<div class="distance-bar">
		<div class="bar">
			<div class="progress" style="width: <%= challenge.progress %>;"></div>
		</div>
		<p>Your team has travelled <%= challenge.kmTravelled %>km</p>
	</div>

	<div class="team-ladder">
		<span class="label member-name-label">Challenge Ladder</span><span class="label member-distance-label">Distance</span>
		<% _.each(challenge.challengeLadder, function(team) { %>
			<span class="member-name"><%= team.teamName %></span><span class="member-distance"><%= team.teamDistance %>km</span>
		<% }); %>
	</div>
</div>