<div data-role="content"> 	
	<div class="logo"></div>
	<form class="login-form">
		<div style="padding:10px 20px;">
			<label for="un" class="ui-hidden-accessible">Username:</label>
			<input type="text" name="user" id="username" value="" placeholder="email" data-theme="a" />

			<label for="pw" class="ui-hidden-accessible">Password:</label>
			<input type="password" name="pass" id="password" value="" placeholder="password" data-theme="a" />
			<div class="btn-container">
				<a class="login-btn" data-role="button" >login</a>
				<span class="btn-icon-right icon-arrow"></span>
			</div>
			<div class="error-message"></div>
			<div class="footer-logos"></div>
		</div>
	</form>
</div>
