<div data-role="content"> 	
	<div class="logo"></div>
	<form class="login-form">
		<div style="padding:10px 20px;">
			<label for="un" class="ui-hidden-accessible">Username:</label>
			<input type="text" name="user" id="username" value="" placeholder="email" data-theme="a" />

			<label for="pw" class="ui-hidden-accessible">Password:</label>
			<input type="password" name="pass" id="password" value="" placeholder="password" data-theme="a" />
			<div class="btn-container">
				<a class="login-btn" data-role="button" >login</a>
				<span class="btn-icon-right icon-arrow"></span>
			</div>
			<div class="error-message"></div>
			<a class="what-is-this">Not a member?</a>
			<div class="footer-logos"></div>
            
		</div>
	</form>

	<div data-role="popup" id="popup-not-registered" class="ui-content">
	    <p>Before you can log in to this app you need to register, then join a challenge and a team at <a href="http://www.getontrackchallenge.com.au">www.getontrackchallenge.com.au</a>.</p>
        <div class="btn-container btn-text-center">
		    <a href="" data-role="button">Ok</a>
	    </div>
	</div>
</div>
