<div data-role="header">
	<h1>My Challenge</h1>
</div>

<div data-role="content" class="not-in-challenge">
	<h4>Your are currently not in a challenge</h4>
	<p>To use this App you need to be partcipating in a challenge that has started.</p>
 	<p>Joining a challenge is easy, simply log on to getontrackchallenge.com.au and join a challenge today.</p>
 	<p>The website is designed for PCs and tablets so make sure you access the site using these devices.<p>
	<div class="btn-container btn-half btn-text-center">
		<a href="" data-role="button">refresh page</a>
	</div>
</div>
