
	<div data-role="header">
		<h1>My Challenge</h1>
	</div>

<div data-role="content" class="not-started">
	<h2>Perth City Run</h2>
	<h4>Your challenge has not started yet</h4>
	<p>The challenge has not started yet. You'll be sent a reminder email 1 week before the challenge starts and on the first day of the challenge. In the meantime feel free to explore the rest of the site to find out more about this program.</p>
	<div class="challenge-start-date">
		<p>Start Date: May 23, 2013</p>
		<p class="challenge-duration">Duration : 7 weeks 1 day</p>
	</div>
	<div class="btn-container btn-half btn-text-center">
		<a href="" data-role="button">refresh page</a>
	</div>
</div>
